# table of contents
* [1 Dataset description](#Mark_down_features)
* [2 Import necessary libraries](#Mark_down_features)
* [3.Upload CSV file ](#Mark_down_features)
* [4 Understand Data ](#Mark_down_features)
* [5 Data Cleaning ](#Mark_down_features)
* [6 Data Analysis ](#Mark_down_features)
* [7 Visulization](#Mark_down_features)

# [data link](https://mcitegypt-my.sharepoint.com/:u:/r/personal/yasfahmy_debi_gov_eg/Documents/DEGI/DEPI%20Projects/Round%201/BA/Datasets.zip?csf=1&web=1&e=gIqAlT)

#  Dataset Description

| Column Name                     | Description                                                                 |
|---------------------------------|-----------------------------------------------------------------------------|
| SatisfactionID                  | This is typically a unique identifier for each record in the dataset. It helps in distinguishing between different entries or responses. |
| SatisfactionLevel               | This column describes the level of satisfaction. It usually contains categorical data representing different levels of satisfaction, such as “Very Dissatisfied,” “Dissatisfied,” “Neutral,” “Satisfied,” and “Very Satisfied.” |
| RatingID                        | This is usually a unique identifier for each rating entry in the dataset. It helps in distinguishing between different ratings or evaluations. |
| RatingLevel                     | This column describes the level or score of the rating. It often contains categorical or numerical data representing different levels of performance, satisfaction, or other metrics. |
| PerformanceID                   | A unique identifier for each performance review record. |
| EmployeeID                      | A unique identifier for each employee. |
| JobSatisfaction                 | A measure of how satisfied the employee is with their job. |
| EnvironmentSatisfaction         | A measure of how satisfied the employee is with their work environment. |
| RelationshipSatisfaction        | A measure of how satisfied the employee is with their relationships at work, such as with colleagues and supervisors. |
| TrainingOpportunitiesWithinYear | The number of training opportunities available to the employee within a year. |
| TrainingOpportunitiesTaken      | The number of training opportunities the employee has taken within a year. |
| WorkLifeBalance                 | A measure of how well the employee feels they can balance their work and personal life. |
| SelfRating                      | The employee’s self-assessment rating. |
| ManagerRating                   | The rating given by the employee’s manager. |
| FirstName                       | The first name of the employee. |
| LastName                        | The last name of the employee. |
| Gender                          | The gender of the employee. |
| Age                             | The age of the employee. |
| BusinessTravel                  | The frequency of business travel for the employee. |
| Department                      | The department in which the employee works. |
| DistanceFromHome (KM)           | The distance from the employee’s home to the workplace, measured in kilometers. |
| State                           | The state where the employee is located. |
| Ethnicity                       | The ethnic background of the employee. |
| Education                       | The education level of the employee (e.g., High School, Bachelor’s, Master’s). |
| EducationField                  | The field of study for the employee’s highest level of education. |
| JobRole                         | The specific role or job title of the employee. |
| MaritalStatus                   | The marital status of the employee. |
| Salary                          | The salary of the employee. |
| StockOptionLevel                | The level of stock options granted to the employee. |
| OverTime                        | Indicates whether the employee works overtime (Yes/No). |
| HireDate                        | The date when the employee was hired. |
| Attrition                       | Indicates whether the employee has left the company (Yes/No). |
| YearsAtCompany                  | The number of years the employee has been with the company. |
| YearsInMostRecentRole           | The number of years the employee has been in their most recent role. |
| YearsSinceLastPromotion         | The number of years since the employee’s last promotion. |
| YearsWithCurrManager            | The number of years the employee has worked with their current manager. |
| EducationLevelID                | This is usually a unique identifier for each education level. |
| EducationLevel                  | The specific level of education. It often contains categorical data representing different stages of education, such as “High School,” “Bachelor’s,” “Master’s,” “Doctorate.” |

## 2.Import necessary libraries

In [6]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib as plt
import re

## 3.Upload CSV files

In [7]:
satisfied_level = pd.read_csv(r'C:\Users\Al tyseer abdo\OneDrive\Desktop\HR\SatisfiedLevel.csv')
rating_level = pd.read_csv(r'C:\Users\Al tyseer abdo\OneDrive\Desktop\HR\RatingLevel.csv')
performance_rating = pd.read_csv(r'C:\Users\Al tyseer abdo\OneDrive\Desktop\HR\PerformanceRating.csv')
employee = pd.read_csv(r'C:\Users\Al tyseer abdo\OneDrive\Desktop\HR\Employee.csv')
education_level = pd.read_csv(r'C:\Users\Al tyseer abdo\OneDrive\Desktop\HR\EducationLevel.csv')

## 4. Understanding Data

### 1. Understanding Data [satisfied_level]

In [8]:
satisfied_level.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SatisfactionID     5 non-null      int64
 1   SatisfactionLevel  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [9]:
satisfied_level.shape

(5, 2)

In [10]:
satisfied_level.dtypes

SatisfactionID        int64
SatisfactionLevel    object
dtype: object

In [11]:
satisfied_level.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [12]:
satisfied_level.isnull().sum()

SatisfactionID       0
SatisfactionLevel    0
dtype: int64

### 2. Understanding Data [rating_level]

In [13]:
rating_level.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RatingID     5 non-null      int64
 1   RatingLevel  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [14]:
rating_level.shape

(5, 2)

In [15]:
rating_level.dtypes

RatingID        int64
RatingLevel    object
dtype: object

In [16]:
rating_level.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [17]:
rating_level.isnull().sum()

RatingID       0
RatingLevel    0
dtype: int64

### 3. Understanding Data [performance_rating]

In [18]:
performance_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6709 entries, 0 to 6708
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   PerformanceID                    6709 non-null   object
 1   EmployeeID                       6709 non-null   object
 2   ReviewDate                       6709 non-null   object
 3   EnvironmentSatisfaction          6709 non-null   int64
 4   JobSatisfaction                  6709 non-null   int64
 5   RelationshipSatisfaction         6709 non-null   int64
 6   TrainingOpportunitiesWithinYear  6709 non-null   int64
 7   TrainingOpportunitiesTaken       6709 non-null   int64
 8   WorkLifeBalance                  6709 non-null   int64
 9   SelfRating                       6709 non-null   int64
 10  ManagerRating                    6709 non-null   int64
dtypes: int64(8), object(3)
memory usage: 576.7+ KB

In [19]:
performance_rating.shape

(6709, 11)

In [20]:
performance_rating.dtypes

PerformanceID                      object
EmployeeID                         object
ReviewDate                         object
EnvironmentSatisfaction             int64
JobSatisfaction                     int64
RelationshipSatisfaction            int64
TrainingOpportunitiesWithinYear     int64
TrainingOpportunitiesTaken          int64
WorkLifeBalance                     int64
SelfRating                          int64
ManagerRating                       int64
dtype: object

In [21]:
performance_rating.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
6704    False
6705    False
6706    False
6707    False
6708    False
Length: 6709, dtype: bool

In [22]:
performance_rating.isnull().sum()

PerformanceID                      0
EmployeeID                         0
ReviewDate                         0
EnvironmentSatisfaction            0
JobSatisfaction                    0
RelationshipSatisfaction           0
TrainingOpportunitiesWithinYear    0
TrainingOpportunitiesTaken         0
WorkLifeBalance                    0
SelfRating                         0
ManagerRating                      0
dtype: int64

### 4. Understanding Data [employee]

In [23]:
employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               1470 non-null   object
 1   FirstName                1470 non-null   object
 2   LastName                 1470 non-null   object
 3   Gender                   1470 non-null   object
 4   Age                      1470 non-null   int64
 5   BusinessTravel           1470 non-null   object
 6   Department               1470 non-null   object
 7   DistanceFromHome (KM)    1470 non-null   int64
 8   State                    1470 non-null   object
 9   Ethnicity                1470 non-null   object
 10  Education                1470 non-null   int64
 11  EducationField           1470 non-null   object
 12  JobRole                  1470 non-null   object
 13  MaritalStatus            1470 non-null   object
 14  Salary                   1470 non-null   int64
 15  StockOptionLevel         1470 non-null   int64
 16  OverTime                 1470 non-null   object
 17  HireDate                 1470 non-null   object
 18  Attrition                1470 non-null   object
 19  YearsAtCompany           1470 non-null   int64
 20  YearsInMostRecentRole    1470 non-null   int64
 21  YearsSinceLastPromotion  1470 non-null   int64
 22  YearsWithCurrManager     1470 non-null   int64
dtypes: int64(9), object(14)
memory usage: 264.3+ KB

In [24]:
employee.shape

(1470, 23)

In [25]:
employee.dtypes

EmployeeID                 object
FirstName                  object
LastName                   object
Gender                     object
Age                         int64
BusinessTravel             object
Department                 object
DistanceFromHome (KM)       int64
State                      object
Ethnicity                  object
Education                   int64
EducationField             object
JobRole                    object
MaritalStatus              object
Salary                      int64
StockOptionLevel            int64
OverTime                   object
HireDate                   object
Attrition                  object
YearsAtCompany              int64
YearsInMostRecentRole       int64
YearsSinceLastPromotion     int64
YearsWithCurrManager        int64
dtype: object

In [26]:
employee.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1465    False
1466    False
1467    False
1468    False
1469    False
Length: 1470, dtype: bool

In [27]:
employee.isnull().sum()

EmployeeID                 0
FirstName                  0
LastName                   0
Gender                     0
Age                        0
BusinessTravel             0
Department                 0
DistanceFromHome (KM)      0
State                      0
Ethnicity                  0
Education                  0
EducationField             0
JobRole                    0
MaritalStatus              0
Salary                     0
StockOptionLevel           0
OverTime                   0
HireDate                   0
Attrition                  0
YearsAtCompany             0
YearsInMostRecentRole      0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

### 5. Understanding Data [education_level]

In [28]:
education_level.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   EducationLevelID  5 non-null      int64
 1   EducationLevel    5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [29]:
education_level.shape

(5, 2)

In [30]:
education_level.dtypes

EducationLevelID     int64
EducationLevel      object
dtype: object

In [31]:
education_level.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [32]:
education_level.isnull().sum()

EducationLevelID    0
EducationLevel      0
dtype: int64

## 5.Data Cleaning

In [33]:
satisfied_level.rename(columns={
    'SatisfactionID': 'ID',
    'SatisfactionLevel': 'Level'
}, inplace=True)

satisfied_level.head()

   ID              Level
0   1  Very Dissatisfied
1   2       Dissatisfied
2   3            Neutral
3   4         Satisfied
4   5     Very Satisfied

In [34]:
rating_level.rename(columns={
    'RatingID': 'ID',
    'RatingLevel': 'Level'
}, inplace=True)

print(rating_level.head())

   ID                 Level
0   1          Unacceptable
1   2     Needs Improvement
2   3     Meets Expectation
3   4  Exceeds Expectation
4   5      Above and Beyond

In [35]:
performance_rating.rename(columns={
    'PerformanceID': 'ID',
    'EmployeeID': 'EmpID',
    'ReviewDate': 'Date',
  
}, inplace=True)

print(performance_rating.head())

     ID      EmpID      Date  EnvironmentSatisfaction  JobSatisfaction  \
0  PR01  79F7-78EC  1/2/2013                        5                4
1  PR02  B61E-0F26  1/3/2013                        5                4
2  PR03  F5E3-48BB  1/3/2013                        3                4
3  PR04  0678-748A  1/4/2013                        5                3
4  PR05  541F-3E19  1/4/2013                        5                2

   RelationshipSatisfaction  TrainingOpportunitiesWithinYear  \
0                         5                                1
1                         4                                1
2                         5                                3
3                         2                                2
4                         3                                1

   TrainingOpportunitiesTaken  WorkLifeBalance  SelfRating  ManagerRating
0                           0                4           4              4
1                           3                4           4              3
2                           2                3           5              4
3                           0                2           3              2
4                           0                4           4              3

In [52]:
performance_rating['ID'] = performance_rating['ID'].str.replace('PR', '')
performance_rating

,ID,EmpID,Date,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,WorkLifeBalance,SelfRating,ManagerRating
0,01,79F7-78EC,2013-01-02,5,4,5,1,0,4,4,4
1,02,B61E-0F26,2013-01-03,5,4,4,1,3,4,4,3
2,03,F5E3-48BB,2013-01-03,3,4,5,3,2,3,5,4
3,04,0678-748A,2013-01-04,5,3,2,2,0,2,3,2
4,05,541F-3E19,2013-01-04,5,2,3,1,0,4,4,3
...,...,...,...,...,...,...,...,...,...,...,...
6704,995,4F28-CFAF,2016-03-14,5,3,3,3,1,5,5,4
6705,996,7C80-94E0,2016-03-14,3,5,4,2,1,3,4,4
6706,997,8233-2483,2016-03-14,3,4,2,3,1,2,3,2
6707,998,8A5B-3D6E,2016-03-15,5,2,5,2,2,4,3,3
6708,999,4500-37EB,2016-03-16,4,5,5,3,1,2,3,3

In [36]:

performance_rating['Date'] = pd.to_datetime(performance_rating['Date'], format='%m/%d/%Y')


print(performance_rating.head())

     ID      EmpID       Date  EnvironmentSatisfaction  JobSatisfaction  \
0  PR01  79F7-78EC 2013-01-02                        5                4
1  PR02  B61E-0F26 2013-01-03                        5                4
2  PR03  F5E3-48BB 2013-01-03                        3                4
3  PR04  0678-748A 2013-01-04                        5                3
4  PR05  541F-3E19 2013-01-04                        5                2

   RelationshipSatisfaction  TrainingOpportunitiesWithinYear  \
0                         5                                1
1                         4                                1
2                         5                                3
3                         2                                2
4                         3                                1

   TrainingOpportunitiesTaken  WorkLifeBalance  SelfRating  ManagerRating
0                           0                4           4              4
1                           3                4           4              3
2                           2                3           5              4
3                           0                2           3              2
4                           0                4           4              3

In [37]:
employee.rename(columns={
    'EmployeeID': 'EmpID',
    'FirstName': 'First_Name',
    'LastName': 'Last_Name'
}, inplace=True)
print(employee.head())

       EmpID  First_Name Last_Name      Gender  Age BusinessTravel  \
0  3012-1A41    Leonelle     Simco      Female   30    Some Travel
1  CBCB-9C9D     Leonerd     Aland        Male   38    Some Travel
2  95D7-1CE9       Ahmed     Sykes        Male   43    Some Travel
3  47A0-559B  Ermentrude    Berrie  Non-Binary   39    Some Travel
4  42CC-040A       Stace    Savege      Female   29    Some Travel

        Department  DistanceFromHome (KM) State                Ethnicity  ...  \
0            Sales                     27    IL                    White  ...
1            Sales                     23    CA                    White  ...
2  Human Resources                     29    CA  Asian or Asian American  ...
3       Technology                     12    IL                    White  ...
4  Human Resources                     29    CA                    White  ...

   MaritalStatus  Salary StockOptionLevel OverTime    HireDate  Attrition  \
0       Divorced  102059                1       No  2012-01-03         No
1         Single  157718                0      Yes  2012-01-04         No
2        Married  309964                1       No  2012-01-04         No
3        Married  293132                0       No  2012-01-05         No
4         Single   49606                0       No  2012-01-05        Yes

  YearsAtCompany YearsInMostRecentRole YearsSinceLastPromotion  \
0             10                     4                       9
1             10                     6                      10
2             10                     6                      10
3             10                    10                      10
4              6                     1                       1

   YearsWithCurrManager
0                     7
1                     0
2                     8
3                     0
4                     6

[5 rows x 23 columns]

In [38]:

employee['HireDate'] = pd.to_datetime(employee['HireDate'], format='%Y-%m-%d')
print(employee.head())

       EmpID  First_Name Last_Name      Gender  Age BusinessTravel  \
0  3012-1A41    Leonelle     Simco      Female   30    Some Travel
1  CBCB-9C9D     Leonerd     Aland        Male   38    Some Travel
2  95D7-1CE9       Ahmed     Sykes        Male   43    Some Travel
3  47A0-559B  Ermentrude    Berrie  Non-Binary   39    Some Travel
4  42CC-040A       Stace    Savege      Female   29    Some Travel

        Department  DistanceFromHome (KM) State                Ethnicity  ...  \
0            Sales                     27    IL                    White  ...
1            Sales                     23    CA                    White  ...
2  Human Resources                     29    CA  Asian or Asian American  ...
3       Technology                     12    IL                    White  ...
4  Human Resources                     29    CA                    White  ...

   MaritalStatus  Salary StockOptionLevel OverTime   HireDate  Attrition  \
0       Divorced  102059                1       No 2012-01-03         No
1         Single  157718                0      Yes 2012-01-04         No
2        Married  309964                1       No 2012-01-04         No
3        Married  293132                0       No 2012-01-05         No
4         Single   49606                0       No 2012-01-05        Yes

  YearsAtCompany YearsInMostRecentRole YearsSinceLastPromotion  \
0             10                     4                       9
1             10                     6                      10
2             10                     6                      10
3             10                    10                      10
4              6                     1                       1

   YearsWithCurrManager
0                     7
1                     0
2                     8
3                     0
4                     6

[5 rows x 23 columns]

In [39]:

employee['First_Name'] = employee['First_Name'].str.upper()
employee['Last_Name'] = employee['Last_Name'].str.upper()


employee.insert(2, 'Fullname', employee['First_Name'] + ' ' + employee['Last_Name'])

print(employee.head())

       EmpID  First_Name           Fullname Last_Name      Gender  Age  \
0  3012-1A41    LEONELLE     LEONELLE SIMCO     SIMCO      Female   30
1  CBCB-9C9D     LEONERD      LEONERD ALAND     ALAND        Male   38
2  95D7-1CE9       AHMED        AHMED SYKES     SYKES        Male   43
3  47A0-559B  ERMENTRUDE  ERMENTRUDE BERRIE    BERRIE  Non-Binary   39
4  42CC-040A       STACE       STACE SAVEGE    SAVEGE      Female   29

  BusinessTravel       Department  DistanceFromHome (KM) State  ...  \
0    Some Travel            Sales                     27    IL  ...
1    Some Travel            Sales                     23    CA  ...
2    Some Travel  Human Resources                     29    CA  ...
3    Some Travel       Technology                     12    IL  ...
4    Some Travel  Human Resources                     29    CA  ...

  MaritalStatus  Salary StockOptionLevel OverTime   HireDate  Attrition  \
0      Divorced  102059                1       No 2012-01-03         No
1        Single  157718                0      Yes 2012-01-04         No
2       Married  309964                1       No 2012-01-04         No
3       Married  293132                0       No 2012-01-05         No
4        Single   49606                0       No 2012-01-05        Yes

   YearsAtCompany YearsInMostRecentRole YearsSinceLastPromotion  \
0              10                     4                       9
1              10                     6                      10
2              10                     6                      10
3              10                    10                      10
4               6                     1                       1

  YearsWithCurrManager
0                    7
1                    0
2                    8
3                    0
4                    6

[5 rows x 24 columns]

In [40]:
employee.pop('First_Name')    
employee.pop('Last_Name')

0             SIMCO
1             ALAND
2             SYKES
3            BERRIE
4            SAVEGE
           ...
1465      MELANAPHY
1466         CALVER
1467    MACDEARMONT
1468            AGG
1469        HEBBARD
Name: Last_Name, Length: 1470, dtype: object

In [41]:
education_level.rename(columns={
    'EducationLevelID': 'ID',
    'EducationLevel': 'Level'
}, inplace=True)
print(education_level.head())

   ID                     Level
0   1  No Formal Qualifications
1   2              High School
2   3                Bachelors
3   4                  Masters
4   5                 Doctorate

## Extract files for csv

In [44]:
satisfied_level.to_csv('satisfied_level.csv', index=False)

In [45]:
rating_level.to_csv('rating_level.csv', index=False)

In [53]:
performance_rating.to_csv('performance_rating.csv', index=False)

In [48]:
employee.to_csv('employee.csv', index=False)

In [47]:
education_level.to_csv('education_level.csv', index=False)